[submodule "libs/sysprog"]
	path = libs/sysprog
	url = https://github.com/ariollex/sysprog-labs
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/crow"]
	path = libs/crow
	url = https://github.com/CrowCpp/Crow.git
